extends ../shared/_layout

block content
    .row
      .col.s10.m8.l6.offset-l3.offset-m2.offset-s1
        .panel-title.text-center
          h3.title Log In
        form.form-horizontal(method="post", action='/login')
          .form-group
            label.cols-sm-2.control-label(for='username' ) Username
            .cols-sm-10
              input#username.form-control(type='text', name='username', placeholder='Enter your username' autofocus)
          .form-group
            label.cols-sm-2.control-label(for='password') Password
            .cols-sm-10
              input#password.form-control(type='password', name='password', placeholder='Enter your password')
          .form-group
              a.btn.btn-cancel(href='/') Cancel 
              button.btn.btn-submit(type="submit") Submit