extends ../shared/_layout

block content
  .container 
    .row.main
      .panel-heading
        .panel-title.text-center
          h3.title Log In
          hr
      .main-login.main-center
        form.form-horizontal(method="post", action='/login')
          .form-group
            label.cols-sm-2.control-label(for='username' ) Username
            .cols-sm-10
              input#username.form-control(type='text', name='username', placeholder='Въведете вашето потребителско име' autofocus)
          .form-group
            label.cols-sm-2.control-label(for='password') Password
            .cols-sm-10
              input#password.form-control(type='password', name='password', placeholder='Въведете парола')
          .form-group
              a.btn.btn-cancel(href='/') Cancel 
              button.btn.btn-submit(type="submit") Submit