extends ../shared/_layout
//- include sidebar

block content
    if isAuthenticated
        .row
            #sidebar.col.s12.m4.l3
                h4 My feeds
                if feeds.length > 0
                    ul
                        each feed in feeds
                            li
                                a(href=feed.feedUrl) 
                                    h6
                                        =feed.feedName
                else
                    p You are not following any feeds yet

            .col.s12.m8.l9
                h4 My saved articles
                if articles.length > 0
                    ul.collection
                        each article in articles
                            - const title = decodeURIComponent(article.articleTitle);
                            li.row.collection-item
                                
                                .col.s10.m8.l8
                                    a.collection-item(href=article.articleUrl, target='_blanc')
                                        =title
                                .col.s22.m4.l4
                                    a.secondary-content.btn-floating.btn-delete.no-padding.tooltipped(href='#!', data-position="bottom", data-delay="50", data-tooltip="Remove article")
                                        i.material-icons delete
                else
                    p You have not saved any articles yet