extends ../shared/_layout
//- include sidebar

block content
    if isAuthenticated
        .row
            #sidebar.col.s12.m4.l3
                h4 My feeds
                if feeds
                    ul
                        each feed in feeds
                            li
                                a(href=feed.feedUrl) 
                                    h6
                                        =feed.feedName
                else
                    p You are not following any feeds yet

            .col.s12.m8.l9
                h4 My saved articles
                ul.collection
                    if articles
                        each article in articles
                            - const title = decodeURIComponent(article.articleTitle);
                            li.row.collection-item
                                .col.s12.m10.l8
                                    a.collection-item(href=article.articleUrl, target='_blanc')
                                        =title
                                .col.s12.m2.l4
                                    a.secondary-content.btn-floating.btn-delete.no-padding(href="#!")
                                        i.material-icons delete
                    else
                        h4 You have no saved articles yet

    else
        h4 You have to be loged in to use this functionality