include navigation
include message

doctype html
html(lang='en')
  head
    link(rel='stylesheet', href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", type="text/css",  href="/static/css/materialize.min.css",  media="screen,projection")
    link(rel='stylesheet', href='/static/css/home-style.css')
  body
    +nav()
    .progress.invisible
      .indeterminate
    +message()
    block content
    br
    footer.footer
      .row
        .col.s12.m8.l6.offset-m2.offset-l3.center-align
          p
            | Web Applications with Node.js © 2017 
            a(href='https://telerikacademy.com/') Telerik Academy
          p
            | Application by 
            a(href='https://github.com/The-Wise', target='_blanc') The Wise Team
  
    block scripts
        script(src='/static/js/jquery.min.js')
        script(src='/static/js/utils/event-listeners.js')
        script(src='/static/js/materialize.min.js')
    
    