mixin nav()
    nav
      .nav-wrapper
        a.brand-logo(href='/')
          i.material-icons rss_feed
          | MyNews
        a.button-collapse(href='#', data-activates='mobile-demo')
          i.material-icons menu
        ul#main-menu.right.hide-on-med-and-down
          li
            a(href='/') 
              strong HOME
          li
            if user
              a(href='/' + user.username + '/myfeeds') 
                strong MY FEEDS
            else
              a.tooltipped(href='#', data-position="bottom", data-delay="50", data-tooltip="Login to see your feeds")
                strong MY FEEDS
          li
            a(href='/category/news/')
              strong NEWS
          li
            a(href='/category/sport/') 
              strong SPORT
          li
            a(href='/category/design/')
              strong DESIGN
          li
            a(href='/category/tech/')
              strong TECH

          if !isAuthenticated
              a.btn.btn-default.btn-success.btn-round.btn-round-login(href="/login") Log In
              a.btn.btn-default.btn-info.btn-round(href="/signup") Sign up
          else

              ul#user-menu.dropdown-content
                li
                  a(href='/' + user.username + '/profile') Profile
                .divider
                if isAdmin()
                  li
                    a(href="/admin/edit") Add Feed
                  .divider
                  li
                    a(href="/admin/manage/users") Manage Users
                  .divider  
                li
                  a(href='/logout') Log out
              li
                a.btn.dropdown-button.user-toggle(data-activates='user-menu', data-hover='true')
                  | #{user.username}
                  i.material-icons.right menu
                
        ul#mobile-demo.side-nav
          li
            a(href='/') 
              i.material-icons rss_feed
              | MyNews
          li
            if user
              a(href='/' + user.username + '/myfeeds') 
                strong MY FEEDS
            else
              a.not-active.tooltipped(href='#', data-position="bottom", data-delay="50", data-tooltip="Login to see your feeds")
                strong MY FEEDS
          li
            a(href='/category/news')
              strong NEWS
          li
            a(href='/category/sport') 
              strong SPORT
          li
            a(href='/category/design')
              strong DESIGN
          li
            a(href='/category/tech')
              strong TECH

          if !isAuthenticated
              a.btn.btn-default.btn-success.btn-round.btn-round-login(href="/login") Log In
              a.btn.btn-default.btn-info.btn-round(href="/signup") Sign up
          else
              ul#user-menu-mobile.dropdown-content
                li
                  a(href='/' + user.username + '/profile') Profile
                .divider
                if isAdmin()
                  li
                    a(href="/admin/edit") Add Feed
                  .divider
                li
                  a(href='/logout') Log out
              li
                a.btn.dropdown-button.user-toggle(data-activates='user-menu-mobile')
                  | #{user.username}
                  i.material-icons.right menu
