@import url('https://fonts.googleapis.com/css?family=Monoton|Open+Sans:300,300i,400,800');

body {
    background-color: white;
}

.form-group {
    color: white;
}

.username {
    border-radius: 20px;
}

.user-toggle {
    border-radius: 20px;
}

.user-info {
    font-size: 20px;
}

a.text-menu {
    font-size: 17px;
}

/*feed style  */
.feed-image {
    width: 100px;
    display: block;
}

.feed {
    margin-bottom: 15px;
    margin-top: 20px;
}

/* .feed-article {
    width: 30%;
} */

/*article style  */

.feed-article img {
    max-width: 50%;
    height: auto;
    display: block;
}

.article img {
    height: auto;
    display: block;
}

a:link {
    text-decoration: none;
    cursor: pointer;
}

/*buttons style  */

.feed-buttons .btn, .feed-article .btn, .article .btn, .btn-refresh, .btn-follow {
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #26a69a;
    background-color: white;
    color: #26a69a;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-cancel, .btn-submit {
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #26a69a;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.btn-login {
    border-radius: 20px;
}

.register-button {
    border-radius: 20px;
}

.btn-round {
    border-radius: 17px;
}

.btn-round-login {
    margin-right: 5px;
}

.btn-delete {
    background-color: red;
    padding-left: 10px;
    padding-right: 10px;
}
a.btn-delete:hover {
    background-color:#AA2200;
}

.feed-buttons {
    margin-top: 20px;
}

/*form validation */
.valid {
    font-size: 80%;
    color: green;
}
.warning {
    font-size: 80%;
    color: red;
}

/*admin table styles  */
table {
    table-layout: fixed;
}
thead {
    background-color: black;
    color: white;
}
td, th {
    padding:10px;

}
.td-inner {
    height: 60px;
    max-height: 60px;
    overflow: hidden;
}
th.options {
    width: 15%;
}

td.options a{
    margin-right: 10px;
}

/*sidebar style  */
#sidebar {
    height: 100%;
    border-right: 1px dashed grey;
}

#sidebar ul {
    margin-left: 20px;
}

/*navigation style  */

nav {
    background-color: #FFC107;
}

li a:hover {
    color: black;
}

.brand-logo {
    font-family: 'Monoton', cursive;
    color: black;
    display: inline-block;
    margin-right: 0px;
    padding-right: 0px;
}

h3 {
    background-color: black;
    padding: 5px 50px 10px 50px;
    display: inline-block;
    /* margin-right: 50px; */
    font-family: Open Sans, sans-serif;
    font-weight: 800;
    box-decoration-break: clone;
    font-size: 3rem;
    line-height: 130%;
    color: white;
}

h5 {
    background-color: black;
    display: inline;
    padding-left: 10px;
    color: white;
}

p {
    font-family: Open Sans,sans-serif;
    font-weight: 300;
}

.date {
    background-color: #FFC107;
    color: black;
    display: inline;
    padding: 10px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.article-feed {
    background-color: #FFC107;
    color: black;
    padding: 2px 0px 2px 10px;
}

h4 {
    color: black;
    font-weight: bold;
}

.hidden {
    display: none;
}

input {
    color: black;
}

h6 {
    color: #26a69a;
    font-variant-caps: all-petite-caps;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

h4.admin-cat-name {
    display: inline;
}

.admin-cat-head {
    margin-top: 30px;
}

.circle {
    height: 50px;
    clip-path: circle();
} 
li.collection-item {
    padding: 10px;
}