body {
    background-color: black;
}

ul.nav.navbar-nav {
    margin-left: 170px;
}

a.navbar-brand.text-menu :hover {
    color: #2ebd59;
    font-size: 25px;
}

.text-menu :hover {
    color: #2ebd59;
}

.btn-round {
    border-radius: 17px;
}

.input-searcher {
    border-radius: 17px;
    margin-right: 70px;
}

.btn-round-login {
    margin-right: 5px;
}

.form-group {
    color: white;
}

.title {
    color: white;
}

.btn-login {
    border-radius: 20px;
}

.register-button {
    border-radius: 20px;
}

.username {
    border-radius: 20px;
}

.user-toggle {
    border-radius: 20px;
}

.user-info {
    font-size: 20px;
}

.cancel-button {
     margin-left: 50px;
     border-radius: 20px;
}

a.text-menu {
    font-size: 17px;
}

.feed-image {
    width: 200px;
}

.feed {
    margin-bottom: 15px;
}

a:link {
    text-decoration: none;
}

.feed-article .btn, .article .btn, .btn-refresh, .btn-follow,
.btn-cancel, .btn-submit {
    margin-right: 10px;
}

.feed-article img, .article img {
    max-width: 50%;
    height: auto;
}

/*form validation */
.valid {
    font-size: 80%;
    color: green;
}
.warning {
    font-size: 80%;
    color: red;
}

/*table stiles  */
table {
    table-layout: fixed;
    max-width: 10%;
}
td, th {
    padding:10px; 
}
.td-inner {
    height: 60px;
    max-height: 60px;
    overflow: hidden;
}

#sidebar {
    min-height: 700px;
    background: grey;
}

/* footer {
    background:darkgrey;
    padding-top: 20px;
} */

.not-active {
   pointer-events: none;
   cursor: default;
}