extends _layout
block content
 .container
  .row.main
    .panel-heading
      .panel-title.text-center
        h1.title 
           strong Sign Up
        hr
    if errors  
        for err in errors
          .alert.alert-danger.alert-dismissable
            a.close(href='#', data-dismiss='alert', aria-label='close') ×
            strong Warning!
            span= " " +err.msg 
    .main-login.main-center
      form.form-horizontal(method='post', action='/signup')
        .form-group
          label.cols-sm-2.control-label(for='name') First Name, Second Name
                                                    <span class="red">*</span>
          .cols-sm-10
            .input-group
              span.input-group-addon
                i.fa.fa-user.fa(aria-hidden='true')
              if model
                input#name.form-control(type='text', name='name', value=model.name)
              else   
                input#name.form-control(type='text', name='name', placeholder='Въведете име и фамилия')
        .form-group
          label.cols-sm-2.control-label(for='email') Email
                                                     <span class="red">*</span>
          .cols-sm-10
            .input-group
              span.input-group-addon
                i.fa.fa-envelope.fa(aria-hidden='true')
              if model
                input#email.form-control(type='text', name='email', value=model.email)
              else
                input#email.form-control(type='text', name='email', placeholder='Въведете вашия Email')  
        .form-group
          label.cols-sm-2.control-label(for='username') Username
                                                        <span class="red">*</span>
          .cols-sm-10
            .input-group
              span.input-group-addon
                i.fa.fa-users.fa(aria-hidden='true')
              if model
                input#username.form-control(type='text', name='username', value=model.username)
              else
                input#username.form-control(type='text', name='username', placeholder='Въведете вашето потребителско име')  
        .form-group
          label.cols-sm-2.control-label(for='password') Password
                                                        <span class="red">*</span>
          .cols-sm-10
            .input-group
              span.input-group-addon
                i.fa.fa-lock.fa-lg(aria-hidden='true')
              input#password.form-control(type='password', name='password', placeholder='Въведете парола')
        .form-group
          label.cols-sm-2.control-label(for='confirm') Confirm Password
                                                       <span class="red">*</span>
          .cols-sm-10
            .input-group
              span.input-group-addon
                i.fa.fa-lock.fa-lg(aria-hidden='true')
              input#confirm.form-control(type='password', name='confirm', placeholder='Потвърдете вашата парола')
        .form-group
          button.btn.btn-primary.btn-lg.btn-block.register-button(type="submit") Submit