extends _layout
block content
 .container
  .row.main
    .panel-heading
      .panel-title.text-center
        h1.title 
           strong Sign Up
        hr
    if errors  
        for err in errors
          .alert.alert-danger.alert-dismissable
            a.close(href='#', data-dismiss='alert', aria-label='close') ×
            strong Warning!
            span= " " +err.msg 
    .main-login.main-center
      form.form-horizontal(method='post', action='/signup')
        .form-group
          label.cols-sm-2.control-label(for='name') First Name, Second Name
          .cols-sm-10
            input#name.form-control(type='text', name='name', placeholder='Въведете име и фамилия')
        .form-group
          label.cols-sm-2.control-label(for='email') Email
          .cols-sm-10
              input#email.form-control(type='text', name='email', placeholder='Въведете вашия Email')  
        .form-group
          label.cols-sm-2.control-label(for='username') Username
          .cols-sm-10
            input#username.form-control(type='text', name='username', placeholder='Въведете вашето потребителско име')  
        .form-group
          label.cols-sm-2.control-label(for='password') Password
          .cols-sm-10
             input#password.form-control(type='password', name='password', placeholder='Въведете парола')
        .form-group
          label.cols-sm-2.control-label(for='confirm') Confirm Password
          .cols-sm-10
            input#confirm.form-control(type='password', name='confirm', placeholder='Потвърдете вашата парола')
        .form-group
          button.btn.btn-primary.btn-lg.btn-block.register-button(type="submit") Submit