extends ./shared/_layout
include ./shared/message

block content
  +message()
  //- .row.home-page-searcher
  //-   .col-lg-8
  .input-group.input-group-lg
    input.form-control(type='text', placeholder='Search for...')
    span.input-group-btn
      button.btn.btn-secondary.btn-primary(type='button') Search