extends ../shared/_layout

block content
    if article
        .row
            .col.l2
            - const articleUrl = encodeURIComponent(article.articleUrl)
            - const articleTitle = encodeURIComponent(article.title)
            .col.s12.m8.l6.article
                h3 
                    =article.title
                if isAuthenticated
                    button.btn.btn-save-article(type='button', data-title=articleTitle, data-url= articleUrl, data-image=article.imageUrl, data-username=user.username) Save article
                else 
                    a.btn(href='/login') Log in to save article
                br
                hr
                br
                img.feed-article-image(src=article.imageUrl)
                br
                br
                div
                    if article.content
                        !=article.content
                    else
                        !=article.summary
    else
        h2 No article