extends ../shared/_layout

block content
    if feeds.length > 0
        each feed in feeds
            - const feedurl = encodeURIComponent(feed.feedUrl)
            div.feed
                img.feed-image(src=feed.imageUrl)
                a.feed-title(href='/category/' + name + '/' + feed.title + '/' + feedurl)
                    h4
                        =feed.title
                p.feed-description
                    !=feed.description
                a.btn.btn-primary.btn-md(type='button' href='/add-feed/' + feed.title) Add to my feeds
                br
                hr
                br
    else
        h3 There are no feeds to display in this category

append scripts
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
