//- script(src="../../public/js/materialize.min.js")

mixin message()
    if typeof message !== 'undefined'
        .message.hidden
            if message.success
            -   console.log(message.success)
                p.success-message
                    = message.success
            if message.error
            -   console.log(message.error)    
                p.error-message
                    = message.error