extends ../shared/_layout
block content
 .container 
  .row.main
    .panel-heading
     .panel-title.text-center
       h1.title Log In
       hr
       if (message.length > 0)
        .alert.alert-danger.alert-dismissable
          a.close(href='#', data-dismiss='alert', aria-label='close') ×
          strong Warning!
          span= " " + message
    .main-login.main-center
      form.form-horizontal(method="post", action='/login')
        .form-group
          label.cols-sm-2.control-label(for='username') Username
          .cols-sm-10
            input#username.form-control(type='text', name='username', placeholder='Въведете вашето потребителско име')
        .form-group
          label.cols-sm-2.control-label(for='password') Password
          .cols-sm-10
            input#password.form-control(type='password', name='password', placeholder='Въведете парола')
        .form-group
          table(style='width:100%')
            tr
              td 
                a.btn.btn-danger.btn-lg.btn-block(href='/') Cancel
              td  
                button.btn.btn-primary.btn-lg.btn-block(type="submit") Submit