mixin message()
    if (message.length > 0)
        .alert.alert-success.alert-dismissable
            a.close(href='#', data-dismiss='alert', aria-label='close') ×
            strong Success!
            span= " " + message


