mixin nav()
    nav.navbar.navbar-inverse(style='padding-bottom: 12px; padding-top: 12px;')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-2')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.text-menu(href='/', style='font-size: 25px;')
            strong HOME
        #bs-example-navbar-collapse-2.collapse.navbar-collapse
          ul.nav.navbar-nav()
            li
              a.text-menu(href='/myfeeds')
                strong MY FEEDS
            li
              a.text-menu(href='/category/news')
                strong NEWS
            li
              a.text-menu(href='/category/sport')
                strong SPORT
            li
              a.text-menu(href='/category/tech')
                strong TECH
            li
              a.text-menu(href='/category/design')
                strong  DESIGN
          form.navbar-form.navbar-right(role='search')
            if !isAuthenticated
              .form-group
                a.btn.btn-default.btn-success.btn-round.btn-round-login(type='submit' href="/login" style='margin-left:3px;') Log In
              .form-group
                a.btn.btn-default.btn-info.btn-round(type='submit' href="/signup" style='margin-left:3px;') Sing up
            else
              .form-group
                .btn-group
                    a.btn.btn-primary.username(href='#') 
                      = user.username
                    a.btn.btn-primary.dropdown-toggle.user-toggle(href='#', data-toggle='dropdown')
                      span.caret
                    ul.dropdown-menu
                      li
                        a(href='/' + user.username + '/profile') Profile
                      li.divider
                      li
                        a(href='/logout') Log out